.grid-container {
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grid-container ol {
  list-style: none;
  display: flex;
  flex-direction: row;
}

.cell {
  height: 3em;
  width: 3em;
  border: 1px solid #ccc;
  background-color: #8d8383;
}

.start-game-btn {
  background-color: #a94343;
  margin: 5%; 
  padding: 10px 25px;
  border: 1px solid #111;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.3em;
}