.main {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  align-items: center;
  padding: 6rem 6rem 0 6rem;
  min-height: 100vh;
}

.logo-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo-container code {
  font-size: 3em;
  padding: 4%;
}
